<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Rubik+Mono+One&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="../sources/icon.png"/>
    <script src="https://kit.fontawesome.com/5605b824a7.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../styles/category.css">
    <title>Категории</title>
</head>
<body>
    <!--Строка навигации-->
    <nav id="header">
        <!--Бурег меню-->
        <label for="check" class="checkbtn"><i class="fas fa-bars"></i></label>
        <input type="checkbox" id="check">
        
        <!--Логотип-->
        <label class="logo">
            Библиотека СИГМА
            <i class="fa fa-file-pdf-o"></i>
        </label>
        <!--Строка навигации-->
        <ul>
            <li><a href="../templates/landing.html">Главная</a></li>
            <li><a href="../templates/category.html">Категории</a></li>
            <li><a href="../templates/blog.html">СТатьи</a></li>
            <li><a href="#footer">О нас</a></li>
        </ul>
    </nav>
    <!--Заголовок сайта-->
    <div class="banner">
        <!--Левая панель-->
        <div class="title">
            <!--Подписи-->
            <div class="main_title">
                <div class="header">
                    <h1 class="fixed">Знаю на 5+:</h1>
                    <ul class="typed">
                        <li><span>HTML</span></li>
                        <li><span>JS</span></li>
                        <li><span>CSS</span></li>
                      </ul>
                </div>

                <h2>Все для старта карьеры Web-Разработчика</h2>
            </div> 
            <!--Поисковая строка--> 
            <div class="search">
                <div class="icon">
                    <img src="../sources/research.png" alt="" class="find_image">
                </div>
                <script>
                    const icon = document.querySelector('.icon');
                    const search = document.querySelector('.search');
                    icon.onclick = function() {search.classList.toggle('active')}
                </script>
                <div class="input">
                    <input type="text" placeholder="Название книги" id="mysearch">
                </div>
                <span class="clear" onclick="document.getElementById('mysearch').value = ''"></span>
            </div>
        </div>
        <!--Правая панель-->
        <div class="image">
            <!--Картинки-->
            <div class="covered-box">
                <img src="../sources/header/ellipse.png" alt="" id="ellips">
                <img src="../sources/header/square_1.png" alt="" id="sqare1">
                <img src="../sources/header/square_2.png" alt="" id="sqare2">
                <img src="../sources/5836.png" alt="" id="header_img">
            </div> 
        </div>   
    </div>
    <!--Содержимое сайта-->
    <div class="content">
        <!--Боковое меню-->
        <div class="side_menu">
            <div class="items">
                <h3>Категории</h3>
                <ul>
                    <li><a href="#">Все направления</a></li>
                    <li><a href="#">Математика</a></li>
                    <li><a href="#">Физика</a></li>
                    <li><a href="#">Языки программирования</a></li>
                    <li><a href="#">Машинное обучение</a></li>
                    <li><a href="#">Разработка</a></li>
                    
                </ul>
            </div>
            <div class="items">
                <h3>Рекомендации</h3>
                <ul>
                    <li><a href="#">Паттерны проектирования</a></li>
                    <li><a href="#">Подготовка к ШАД</a></li>
                    <li><a href="#">Книги по С++</a></li>
                    <li><a href="#">Книги по Pyhon</a></li>
                    <li><a href="#">Фронтенд разработка</a></li>
                </ul>
            </div>
        </div>
        <!--Верхняя большая панель-->
        <div class="recommended">
            <h3>Рекомендуемое</h3>
            <!--Книжки с кратким описанием-->
            <div class="book_grid_box">
                <div class="card">
                    <img src="../sources/book_covers/cover_2.jpg" alt="" id="book">
                    <div class="text">
                        <p class="book_title">The Book of CSS3<p>
                        <p class="author">Peter Gasston</p>
                        <div class="star_rating">
                            <button class="star">&#9733</button>
                            <button class="star">&#9733</button>
                            <button class="star">&#9733</button>
                            <button class="star">&#9733</button>
                            <button class="star">&#9733</button>
                        </div>
                        <p class="descr">
                            Со времени появления CSS3 фронтенд-разработка сильно изменилась: 
                            теперь CSS взял на себя многие функции, которые раньше выполнял JavaScript, 
                            а также предлагает веб-разработчикам современные инструменты оформления 
                            веб-приложений и вёрстки. В руководстве вы познакомитесь с многочисленными селекторами, 
                            2D и 3D трансформацией, флексбоксами и сеткой Grid.
                        </p>
                        <button class="download-button" data-timer="5">
                            <span class="material-symbols-rounded"><i class="fa fa-floppy-o"></i></span>
                            <span>&nbsp</span>
                            <span class="texts"> Загрузить файл</span>
                        </button>
                    </div>
                </div>
                <div class="card">
                    <img src="../sources/book_covers/cover_22.jpg" alt="" id="book">
                    <div class="text">
                        <p class="book_title">Learning React<p>
                        <p class="author">Alex Banks, Eve Porcello</p>
                        <div class="star_rating">
                            <button class="star">&#9733</button>
                            <button class="star">&#9733</button>
                            <button class="star">&#9733</button>
                            <button class="star">&#9734</button>
                            <button class="star">&#9734</button>
                        </div>
                        <p class="descr">
                            Если вы хотите научиться создавать эффективные веб-приложения на React, 
                            данная книга для вас. Эта обновленная версия также идеально подходит 
                            для веб-разработчиков и инженеров-программистов, которые знают основы JavaScript, 
                            CSS и HTML. В ней представлены передовые практики и шаблоны для написания современного кода на React.
                        </p>
                        <button class="download-button" data-timer="5">
                            <span class="material-symbols-rounded"><i class="fa fa-floppy-o"></i></span>
                            <span>&nbsp</span>
                            <span class="texts"> Загрузить файл</span>
                        </button>
                    </div>
                </div>
                <div class="card">
                    <img src="../sources/book_covers/cover_23.png" alt="" id="book">
                    <div class="text">
                        <p class="book_title">JavaScript: The Definitive Guide<p>
                        <p class="author">David Flanagan</p>
                        <div class="star_rating">
                            <button class="star">&#9733</button>
                            <button class="star">&#9733</button>
                            <button class="star">&#9733</button>
                            <button class="star">&#9733</button>
                            <button class="star">&#9734</button>
                        </div>
                        <p class="descr">
                            JavaScript используется сегодня большим количеством разработчиков программного обеспечения, 
                            чем любой другой язык программирования; он является одним из главных языков веб-программирования. 
                            В течение почти 25 лет эта книга-бестселлер была путеводителем для программистов по JavaScript. 
                            Седьмое издание полностью обновлено, чтобы охватить версию JavaScript 2020 года, 
                            а новые главы посвящены классам, модулям, итераторам, генераторам, Promises и метапрограммированию.
                        </p>
                        <button class="download-button" data-timer="5">
                            <span class="material-symbols-rounded"><i class="fa fa-floppy-o"></i></span>
                            <span>&nbsp</span>
                            <span class="texts"> Загрузить файл</span>
                        </button>
                    </div>
                </div>
                <div class="card">
                    <img src="../sources/book_covers/cover_24.jpg" alt="" id="book">
                    <div class="text">
                        <p class="book_title">Регулярные выражения<p>
                        <p class="author">Фридл Дж.</p>
                        <div class="star_rating">
                            <button class="star">&#9734</button>
                            <button class="star">&#9734</button>
                            <button class="star">&#9734</button>
                            <button class="star">&#9734</button>
                            <button class="star">&#9734</button>
                        </div>
                        <p class="descr">Книга об эффективной работе с текстом в таких языках программирования как Java, Perl, PHP и т.д. 
                        </p>
                        <button class="download-button" data-timer="5">
                            <span class="material-symbols-rounded"><i class="fa fa-floppy-o"></i></span>
                            <span>&nbsp</span>
                            <span class="texts"> Загрузить файл</span>
                        </button>
                    </div>
                </div>
                <div class="card">
                    <img src="../sources/book_covers/cover_25.jpg" alt="" id="book">
                    <div class="text">
                        <p class="book_title">HTML5. Рецепты программирования<p>
                        <p class="author">Шмитт К., Симпсон К.</p>
                        <div class="star_rating">
                            <button class="star">&#9734</button>
                            <button class="star">&#9734</button>
                            <button class="star">&#9734</button>
                            <button class="star">&#9734</button>
                            <button class="star">&#9734</button>
                        </div>
                        <p class="descr">
                            Эта книга, представляющая собой сборник рецептов и готовых решений, 
                            позволит вам получить практический опыт работы с основными элементами HTML5. 
                            Издание охватывает широкий круг вопросов: от семантической разметки, веб-форм 
                            и мультимедийных элементов до технологий геолокации и JavaScript API.
                        </p>
                        <button class="download-button" data-timer="5">
                            <span class="material-symbols-rounded"><i class="fa fa-floppy-o"></i></span>
                            <span>&nbsp</span>
                            <span class="texts"> Загрузить файл</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Футер-->
    <footer id="footer">
        <div class="container">
            <div class="sec aboutus">
                <h2>О нас</h2>
                <p>
                    Электронная библиотека - место, где собраны книги на любую тематику
                </p>
                <ul class="sci">
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="sec quicklinks">
                <h2>Ссылки</h2>
                <ul>
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Пользовательское соглашение</a></li>
                    <li><a href="#">Помощь</a></li>
                    <li><a href="#">Связаться с нами</a></li>
                    <li><a href="#">Магазины</a></li>
                </ul>
            </div>

            <div class="sec quicklinks">
                <h2>Библиотека</h2>
                <ul>
                    <li><a href="#">Математика</a></li>
                    <li><a href="#">Физика</a></li>
                    <li><a href="#">Информатика</a></li>
                    <li><a href="#">Программирование</a></li>
                    <li><a href="#">Чаще всего скачивают</a></li>
                </ul>
            </div>

            <div class="sec contact">
                <h2>Contact Us</h2>
                <ul class="info">
                    <li>
                        <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                        <span>
                            14 Tverskaya Street<br>
                            Moscow 117513,<br>
                            Russia
                        </span>
                    </li>
                    <li>
                        <span><i class="fa fa-phone" aria-hidden="true"></i></span>
                        <p>
                            <a href="tel:+79871234567">+7 987 123-45-67</a><br>
                            <a href="tel:+79871234567">+7 987 123-45-67</a>
                        </p>
                    </li> 

                    <li>
                        <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
                        <p><a href="mailto:example@mail.ru">example@mail.ru</a></p>
                    </li>
                </ul>
            </div>
        </div>
    </footer>

    <div class="copyrightText">
        <p>Сайт разработан студентом группы ИКБО-01-21 Борониным Н.А</p>
    </div>
</body>

<script>
    window.addEventListener("scroll", function(){
        var header = document.querySelector('nav');
        header.classList.toggle("sticky", window.scrollY > 0);
    })
</script>

<script src="../scripts/category.js"></script>

</html>